.box1
{
    width :100%;
    height:  300px;
    background:beige;
    padding: 5px;
}
.box2
{
    width: 40%;
    height: 50px;
    background: pink;
    float: left;
    margin: 10px;
}
.box3
{
    width: 40%;
    height: 50px;
    background:lightcoral;
    float: left;
    margin: 10px;
}
.box4
{
    width: 40%;
    height: 50px;
    background:blanchedalmond;
    float: left;
    margin: 10px;
}
.box5
{
    width: 40%;
    height: 50px;
    background:gray;
    float: left;
    margin: 10px;
    
}